.footer
    background: $color-dark
    padding: 8rem 0
    &__logo
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 5rem
    &__logo_img
        height: 15.3rem
