.main
    background-color: $color-dark-light
    display: grid
    grid-template-columns: 1fr 1fr

    &__left-box
        grid-column: 1/2
        display: flex
        justify-content: center
        align-items: center
        h1
            border-left: 0.3rem solid $color-gold
            padding-left: 2rem
            animation-name: lowToHight
            animation-duration: 2s
            animation-delay: 1s
            animation-timing-function: ease-in-out
    &__right-box
        grid-column: 2/-1
        overflow: hidden
        img
            height: 69rem
            width: 100%
            object-fit: cover

@keyframes lowToHight
    0%
        opacity: 0
        transform: translateY(15rem)
    80%
        opacity: .8
        transform: translateY(-3rem)
    100%
        opacity: 1
